body{
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    width: 1440px;
}

.container{
    width: 84%;
    margin:0 auto;
}

header{
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 2px 2px 2px #797;
    z-index: 99;
    top: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.header-logo a{
    font-size: 27px;
    color:#292F36;
    text-transform: lowercase;
    margin-bottom: 2px !important;
}

.header a{
    text-decoration: none;
}
.nav-items{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.nav-item{
    list-style: none;
}
.nav-item:not(:last-child){
    margin-right:40px;
}

.nav-item a{
    font-size: 19px;
    font-weight: 400;
    color:#292F36;
    line-height: 30px;
    letter-spacing: 0.4px;
    transition: all 0.5s;
}

.nav-item a:hover{
    color: #CDA274 !important;
}

.active a{
    color: #CDA274 !important;
    font-size: 20px !important;
}
/* responsive menu */
.menu{
    display: none;
}
.menu-img{
    position: relative;
    right: 0;
}

.menu-img:hover{
    cursor: pointer;
}

.menu-img p{
    transform: rotate(90deg);
    letter-spacing: 2px;
}

.menu-none{
    display: none;
}

.menu-items{
    position: absolute;
    width: 50%;
    right: 0;
    background-color: #dad8d2;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Joke', sans-serif;
    transition: all 0.7s !important;
    font-size: 20px;
    
}


.menu-item{
    text-align: center;
    margin: 25px;
    list-style: none;
}

.menu-item a{
    color: #292F36 ;
}

.menu-item:first-child{
    margin-top:20%;
}


/* section hire */
.hire{
    background-image: url("/images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 80px;
    width: 100%;
    /* height: calc(100vh - 80px);   */
    border-bottom-left-radius: 250px;
}
.hire .hire-description{
    margin-top: 188px;
    margin-bottom: 260px;
}

.hire-title{ 
    font-family: "DM Serif Display", sans-serif;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: .22px;
    color: #292F36;
    font-weight: 400;
    margin: 0;
}

.hire-word{
    font-family: "Jost";
    font-size: 22px;
    line-height: 32px;
    letter-spacing: .22px;
    color: #4D5053;
    font-weight: 400;

}
button{
    display:flex;
    align-items: center;
    border: 2px solid #292F36;
    border-radius: 18px;
    background-color: #292F36;
    color: #fff;
}

.button p{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: .72px;
    font-size: 18px;
    line-height: 27px;
    padding-left: 34px;
}

button img{
    padding-left: 20px;
    padding-right: 17px;
}



@media only screen and (max-width:900px) {
    .hire-title{
        font-size: 60px;
        line-height:80px ;
    }
    .nav-item:not(:last-child){
        margin-right: 20px;
    }
    .nav-item a{
        font-size: 17px;
    }

    .active{
        font-size: 18px !important;
    }

}

@media only screen and (max-width:666px){
    .container{
        width: 95%;
    }
    .hire{
        top: 50px;
    }

    .hire .hire-description{
        margin-top: 150px;
        margin-bottom: 360px;
    }

    .hire-title{
        font-size: 50px;
        line-height:60px ;
    }

    .hire-word{
        width:70%;
    }
    .header-nav{
        display: none;
    }
    .menu{
        display: block;
    }
    .button p{
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    
    .hire-title{
        font-size: 40px;
        line-height:50px ;
    }

    .hire-word{
       width: 90%;
    }

    .hire-word{
        font-size: 18px;
        line-height:20px; 
    }

    button{
        margin-top:40px !important;
    }

    .button p{
        font-size: 14px;
        line-height: 20px;
    }

}