body{
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    width: 1440px;
}

.container{
    width: 84%;
    margin:0 auto;
}

header{
    position: fixed;
    background-color: #fff;
    width: 100%;
    box-shadow: 2px 2px 2px #797;
    z-index: 99;
    top: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a{
    font-size: 27px;
    color:#292F36;
    text-transform: lowercase;
    margin-bottom: 2px !important;
}

.header a{
    text-decoration: none;
}
.nav-items{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.nav-item{
    list-style: none;
}
.nav-item:not(:last-child){
    margin-right:40px;
}

.nav-item a{
    font-size: 19px;
    font-weight: 400;
    color:#292F36;
    line-height: 30px;
    letter-spacing: 0.4px;
    transition: all 0.5s;
}

.nav-item a:hover{
    color: #CDA274 !important;
}

.active a{
    color: #CDA274 !important;
    font-size: 20px !important;
}
/* responsive menu */
.menu{
    display: none;
}
.menu-img{
    position: relative;
    right: 0;
}

.menu-img:hover{
    cursor: pointer;
}

.menu-img p{
    transform: rotate(90deg);
    letter-spacing: 2px;
}

.menu-none{
    display: none;
}

.menu-items{
    position: absolute;
    width: 50%;
    right: 0;
    background-color: #dad8d2;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Joke', sans-serif;
    transition: all 0.7s !important;
    font-size: 20px;
    
}


.menu-item{
    text-align: center;
    margin: 25px;
    list-style: none;
}

.menu-item a{
    color: #292F36 ;
}

.menu-item:first-child{
    margin-top:20%;
}


/* section hire */
.hire{
    background-image: url("/images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 69px;
    width: 100%;
    /* height: calc(100vh - 80px);   */
    border-bottom-left-radius: 250px;
}
.hire .hire-description{
    margin-top: 188px;
    margin-bottom: 260px;
}

.hire-title{ 
    font-family: "DM Serif Display", sans-serif;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: .22px;
    color: #292F36;
    font-weight: 400;
    margin: 0;
}

.hire-word{
    font-family: "Jost";
    font-size: 22px;
    line-height: 32px;
    letter-spacing: .22px;
    color: #4D5053;
    font-weight: 400;
    
}
button{
    border: 2px solid #292F36;
    border-radius: 18px;
    background-color: #292F36;
    color: #fff;
    transition: all 0.5s;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: .72px;
    font-size: 18px;
    line-height: 27px;
    padding-left: 34px;
}

button:hover{
    background-color: #d2cec3;
    cursor: pointer;
}

button i{
    color: gold;
}
/* services section */
.services{
    position:absolute ;
    top:1000px
}

.services-items{
    display: flex;
    justify-content: center;
}

.services-item{
    width: 25%;
    text-align: center;
    padding: 20px;
}
/* .services-item:first-child{
    margin-right: 100px;
}

.services-item:last-child{
    margin-left: 100px;
} */


.services-item h3{
    font-family: 'DM Serif Display';
    font-weight: 400;
    color: #292F36;
    font-size: 25px;
    line-height: 39px;
    letter-spacing: 0.22px;
    
}

.services-item p{
    font-family: 'Jost', sans-serif ;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: .22px;
    color: #4D5053;
    margin: 0;
}



.services-item a{
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    font-weight: 400;
    font-family: 'Jost',sans-serif;
    padding: 0;
    color: #292F36;
    text-decoration: none;
}

.services-item a i{
    padding-left: 5px;
    color: gold;
}

/* skill-section */
.skill{
    position: absolute;
    top: 1300px;
    right: 0;
    left: 0;
}


.skill-items{
    display: flex;
    justify-content: center;
    padding-top: 170px;
}

.skill-img{
    margin-left: 30px;
}
.skill-img img{
    width: 635px;
}

.section-title{
    font-family:'DM Serif Display' ;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: .22px;
    color: #292F36;
    font-weight: 400;
    white-space: nowrap;
}

.section-parag{
    font-family: "Jost",sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: .22px;
    color: #4D5053;
    padding: 0;
    padding-bottom: 20px;
}

.section-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.section-link span{
    padding: 30px;
    background-color: #F4F0EC;
    border-radius: 50%;
    margin-right: 20px;
}

.section-link p{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: .22px;
    color: #4D5053;
}

button{
    padding: 21px 17px 21px 17px !important
}

/* about section */
.about{
    position: absolute;
    top: 2200px;
    text-align: center;
}

.about-area{
    background-color:#F4F0EC;
    padding-top: 3.125rem;
    padding-bottom: 7.5rem;
    padding-left: 3.125rem;
    padding-right: 4.375rem;
    border-radius: 4.375rem;
    margin-top: 8.75rem;
}

.about-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-item{
    width: 25%;
    background-color: #fff;
    border-radius: 30px;
    padding: 2.5rem 2.1875rem;
    transition: all 0.5s;
}

.about-item:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0px 9px 6px 0px #ccc ;
}

.about-item:not(:last-child){
    margin-right: 1.25rem;
}

.acc{
    display: flex;
    align-items: center;
}

.acc-img{
    width: 4.8125rem;
    height: 4.8125rem;
}

.acc-word{
    padding-left: 1.25rem;
}

.acc-name{
    white-space: nowrap;
    padding-top: 1.25rem;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    font-family: "DM Serif Display", Display;
    color: #292F36;
    margin: 0;
    /* padding-bottom: 20px; */
}

.acc-location{
    font-family: "Jost",sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    letter-spacing: .22px;
    margin: 0;
    padding-left: -22px;
}

.about-description{
    font-family: "Jost",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: .22px;
    color: #4D5053;
    padding-top: 10px;
    text-align: left;
}

/*
================================================
portnoir section
================================================
*/

.portnior{
    position: absolute;
    top: 3100px;
    width: 100%;
}

.portnior-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 170px;
    padding-bottom: 154px;
}

.portnior-item{
    list-style: none;
}

.portnior-item a{
    color: #292F36;
    text-decoration: none;
}



/*
================================================
projects section
================================================
*/
.projects{
    position: absolute;
    top: 3500px;
    width: 100% ;
}

.project-word{
    text-align: center;
}

.project-word h4{
    margin: 0;
}

.projects-items{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-top: 50px;
    
}

.project-item{
    margin-bottom: 60px;
}

.projects-img{
    overflow: hidden;
    border-top-right-radius: 80px;
}

.projects-img img{
    transition: all 0.5s;
    
}

.projects-img img:hover{
    transform: scale(1.05);
}
.project-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}
.project-description-word h4{
    margin: 0;
    font-size: 24px;
    line-height: 37.5px;
    letter-spacing: .22px;
    font-family: "DM Serif Display";
    color: #292F36;
    font-weight: 400;
}

.project-description-word p{
    margin: 0;
    padding: 0;
}

.project-description-icon i{
    padding: 20px;
    background-color:#F4F0EC;
    border-radius: 50%;
    transition: all 0.5s;
}

.project-description-icon i:hover{
    background-color: #a07756;
    color: #F4F0EC;
    cursor: pointer;
}

/* 
================================================
statistic section
================================================
*/
.statistic{
    position: absolute;
    width: 100%;
    top: 5500px;
    background-color:#F4F0EC;
}

.statistic-items{
    display: flex;
    justify-content: center;
    padding-top: 140px;
    padding-bottom: 140px;
    width: 100%;
}

.statistic-item{
    padding-left: 56px;
    padding-right: 56px;
    text-align: center;
}

.statistic-item:not(:last-child){
    border-right: 1px solid #CDA274; 
    
}

.statistic-number{
    font-size: 85px;
    line-height: 127.5px;
    letter-spacing: 1.7px;
    font-family: "DM Serif Display";
    font-weight: 400;
    margin: 0;
    color: #CDA274;
}

.statistic-item h5{
    margin: 0 ;
    padding: 0;
    padding-top: 10px;
}


/* 
================================================
blog section
================================================
*/

.blog{
    position: absolute;
    top: 6000px;
    width: 100%;
}

.blog-word {
    text-align: center;
}

.blog-word h4{
    margin-bottom: 21px;
}

.blog-word .section-parag{
    margin: 0;
}
.blog-items{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    justify-content: center;
    
    
}

.blog-img{
    overflow: hidden;
    border-radius: 45px 45px 0 0;
}

.blog-img img{
    width: 345px;
    height: 296px;
}

.blog-description{
    text-align: left;
    padding: 0 21px;
}
.blog-item {
    width: 387px;
    list-style: none;
    border: 1px solid #e7e7e7;
    padding: 0;
    padding-top: 21px;
    border-radius: 62px;
    padding-bottom: 41px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.blog-item:hover{
    border-color: #a07756;
}

.blog-item h6{
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin: 0;
    padding: 0;
    color:#292F36;
    padding-top: 15px;
    
}



.date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.data i{
    height: 52px !important;
    width: 52px !important;
    padding: 10px !important;
}

.data span{
    font-family: "Jons";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #4D5053;
}


/* 
================================================
connect
================================================
*/

.connect{
    position: absolute;
    width: 100%;
    top: 7350px;
    padding-top: 141px;
}

.connect-area{
    padding-top: 100px;
    text-align: center;
    background-color: #292F36;
    border-radius: 70px;
    padding-bottom: 95px;
}

.connect-area .section-title{
    font-size: 50px !important;
    padding: 0;
    color: #fff;
    margin: 0;
}

.connect-area .section-parag{
    margin: 0 !important;
    padding-top: 10px !important;
    color: #fff;
    
}

.connect-area button{
    background-color: #CDA274;  
    margin-top: 31px;
    
}

.connect-area button:hover{
    background-color: #a07756;
    
}


/* 
================================================
footer
================================================
*/

.footer{
    position: absolute;
    width: 100%;
    top: 8000px;
}

.footer-items{
    display: flex;
    flex-direction:row;
    
}

.footer-item{
    width: 30%;
}
.footer-item img{
    display: block;
    margin-bottom: 25px;
}

.footer a{
    text-decoration: none;
    color: #4D5053; 
}


.social-media{
    margin-top: 30px;
}
.footer i:not(:last-child){
    margin-right:40px ;
    transition: all 0.5s;
}
.footer i:hover{
    transform: scale(1.5);
    cursor: pointer;
}


.footer-title{
    font-family: "DM Serif Display";
    font-weight: 400;
    line-height: 37.5px;
    font-size: 25px;
    color: #292F36;
    margin: 0;
    padding: 0;
    
}

.footer-title:not(:last-child){
    padding-left: 50px;
}


.footer-item .section-parag{
    padding: 0;
}

.footer-item ul{
    padding: 0 0 0 50px;
}
.footer-item li{
    list-style: none;
    margin: 0 0 25px 0;
    transition: all 0.5s;
}

.footer-item a:hover{
    color: #CDA274;
}

.footer-item a:focus {
    color: #a07756;
}

.footer-word{
    text-align: center;
    border-top: 1px solid #CDA274;
}

.footer-word .section-parag{
    padding: 0;
}

.footer-word span{
    color: #CDA274;
}

@media only screen and (max-width: 1460px) {
    .connect {
        top: 7900px;
    }
    
}
@media only screen and (max-width: 1404px) {
    .statistic {
        top: 7036px;
    }
    
    .blog{
        top: 7552px;
    }
    
    .connect{
        top: 9492px;
    }
}
@media only screen and (max-width: 1300px) {
    .skill-img img{
        width: 550px;
        height: 600px !important;
    }
    
    .section-parag {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 1152px) {
    .acc-name{
        font-size:1.4rem ;
    }
}

@media only screen and (max-width: 1056px) {
    .section-title{
        font-size: 40px;
        line-height: 55px;
        letter-spacing: .22px;
    }
}

@media only screen and (max-width: 996px) {
    .services-item h3{
        font-size: 22px;
        line-height: 30px;
        
    }
    
    .section-title{
        font-size: 38px;
        line-height: 50px;
        letter-spacing: .22px;
    }
    
    .section-parag{
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
    }
    
    .skill-img img{
        width: 450px;
        /* height: 600px !important; */
        object-fit: contain;
    }
    
    .services-item p{
        font-size: 18px;
        line-height: 25px;
    }
    
    .about-items{
        flex-direction: column;
        align-items: center;
    }
    
    .about-item:not(:last-child) {
        margin-right: 0;
    }
    .about-item{
        width: 80% !important;
        margin-bottom: 25px;
    }
    
    .acc-name{
        padding: 0;
    }
    
    .portnior{
        top: 3500px;
    }
    
    .portnior-items{
        display: flex;
    }
    .portnior-item{
        width: 20%;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
    }
    
    .projects{
        top: 3890px;
    }
    
    .statistic {
        top: 7291px;
        width: 100%;
    }
    
    .statistic-items{
        padding-top: 80px;
        padding-bottom: 80px;
        
    }
    
    .statistic-number {
        font-size: 70px;
    }
    
    .blog {
        top: 7730px;
    }
}




@media only screen and (max-width:900px) {
    .hire-title{
        font-size: 60px;
        line-height:80px ;
    }
    .nav-item:not(:last-child){
        margin-right: 20px;
    }
    .nav-item a{
        font-size: 17px;
    }
    
    .active{
        font-size: 18px !important;
    }
    
    .portnior-items{
        flex-direction: column;
        text-align: center;
    }
    
    .portnior-item{
        width: 100%;
    }
    .portnior-item:not(:last-child){
        margin-bottom: 40px;
    }
    
    .projects{
        top: 4220px;
    }
    
    .statistic {
        top: 7637px;
    }
    
    .statistic-items {
        padding-top: 60px;
        padding-bottom: 60px;
        
    }
    
    .statistic-number {
        font-size:60px ;
    }
    
    .statistic-item {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .footer{
        display: none;
    }
    
    .connect{
        display: none;
    }
}

@media only screen and (max-width:850px) {
    .skill-items{
        flex-direction: column;
    }
    
    .skill-img{
        display: none;
    }
    
    .about-area{
        margin-top: 0;
    }
}

@media only screen and (max-width: 805px) {
    .services-item h3{
        font-size: 20px;
        line-height: 25px;
        
    }
    
    .services-item p{
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 729px) {
    .statistic-item{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media only screen and (max-width:666px){
    .container{
        width: 95%;
    }
    .hire{
        top: 50px;
    }
    
    .hire .hire-description{
        margin-top: 150px;
        margin-bottom: 360px;
    }
    
    .hire-title{
        font-size: 50px;
        line-height:60px ;
    }
    
    .hire-word{
        width:70%;
    }
    .header-nav{
        display: none;
    }
    .menu{
        display: block;
    }
    .button p{
        font-size: 14px;
    }
    
    .services-items{
        flex-direction: column;
        align-items: center;
    }
    
    .services-item{
        width: 50%;
    }
    .services-item h3{
        font-size: 25px;
        line-height: 39px;
        
    }
    
    .services-item p{
        font-size: 22px;
        line-height: 33px;
    }
    
    .skill{
        top: 1800px;
    }
    
    .about{
        top: 2523px;
    }
    
    .portnior{
        display: none;
    }
    
    .projects{
        top: 3952px;
    }
    
    .projects-img img{
        width: 500px;
        height: 600px;
    }
    
    .statistic{
        top: 7177px;
    }
    
    .statistic-items{
        display: flex;
        flex-direction: column;
    }
    
    .statistic-item{
        margin-top: 20px;
    }
    
    .services-item h5{
        padding-top: -10px !important;
    }
}

@media only screen and (max-width: 530px) {
    .projects-img img{
        width: 450px;
        height:550px ;
    }
    
    .statistic {
        display: none;
    }
    
}

@media only screen and (max-width: 500px) {
    
    .hire-title{
        font-size: 40px;
        line-height:50px ;
    }
    
    .hire-word{
        width: 90%;
    }
    
    .hire-word{
        font-size: 18px;
        line-height:20px; 
    }
    
    button{
        margin-top:40px !important;
    }
    
    .button p{
        font-size: 14px;
        line-height: 20px;
    }
    
    .services-item{
        width: 80%;
    }
    
    .section-title{
        font-size: 30px;
        line-height: 40px;
        letter-spacing: .22px;
    }
    
    .section-parag{
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }
    
    .section-link span{
        padding: 20px;
        border-radius: 50%;
    }
    
    .section-link p{
        font-size: 20px;
        line-height: 30px;
    }
    
    .skill-items button{
        width: 100%;
    }
    
    .projects-img img{
        width: 400px;
        height:500px ;
    }
}

